# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android/IDE
.gradle/
.idea/
*.iml
local.properties

# Secrets
.env
*.keystore
key.properties

# OS
.DS_Store
Thumbs.db
